/* Estilos para el contenedor del DataTable */
.containerr {
  background-color: #3a3434;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

/* Estilos para la cabecera de la tabla */
.data-table-wrapper .data-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #303030;
  border-bottom: 2px solid #e3e6f0;
}

/* Botón "Añadir Usuario" alineado a la derecha */
.add-user-btn {
  margin-left: auto; /* Empuja el botón hacia la derecha */
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
}

.add-user-btn:hover {
  background-color: #2e59d9;
  color: white;
}

@media (max-width: 768px) {
  /* Responsivo: Coloca el botón debajo de la barra de búsqueda en pantallas pequeñas */
  .data-table-wrapper .data-table-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-user-btn {
    margin-top: 10px;
    width: 100%; /* Hacer que el botón ocupe el ancho completo en pantallas pequeñas */
  }
}

input.filter-text {
  color: #ffffff !important; /* Cambia este valor por el color que desees */
}